<h1>Seja Bem-Vindo!</h1>
<p>O idioma usado nesta aplicação é: <b><%= locale %></b> </p>
<p> <b>Data:</b> <%= l(Date.today) %></p>
<p> <%= t('hello') %></p>

<%= render "menu" %>
 
<p>
    Você está em ambiente de <b><%= ambiente_rails %></b>
</p>
<p>
   Eu sou uma variável de instância/sessão <b><%= @meu_nome %></b>
</p>
<p>
    Meu curso é o curso de <b><%= @curso %></b>
</p>